# Optional. Defaults to HS256.
ALGORITHM="HS256"

# Optional. Defaults to 30 minutes.
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Required secret key.
SECRET_KEY=""

# Required file path for the database.
DATABASE_FILE=""

# Required file path for disease biomarkers.
DISEASE_BIOMARKER_FILE=""

# Optional. Defaults to 0.0.0.0.
FAST_API_HOST="0.0.0.0"

# Optional. Defaults to 8000.
FAST_API_PORT=8000

# Required file path for symptoms and diseases.
SYMPTOMS_FILE=""

# Required file path for LOINC biomarker units.
LOINC_FILE=""

# Required for sending verification emails.
RESEND_API_KEY=""

# Required file path for the verification email template.
VERIFICATION_EMAIL_TEMPLATE="html/verification_email.html"